{% extends 'base.html' %}

{% block content %}

<form method="post">

    {% csrf_token %}
    <label style="font-size: larger;">Employee Name: <b>{{name}}</b></label>
    <div class="mb-3" style="max-width: 300px;">
        {{form2.as_table}} 
        
        <br>
   
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    {% comment %} $(document).ready(function () {
            $('#id_co_fk_type_id_key').on('change', function () {
                var optionSelected = $(this).find("option:selected");
                var valueSelected = optionSelected.val();

                if (valueSelected == 2 || valueSelected == 3) {
                    console.log("vacation selected");
                    $('#time').val('');
                }
            });
        });

</script> {% endcomment %}

<!-- <select name="type" id="type" class="form-control"> 
    {% for x in so_type %}
    <option value="{{x}}">{{x}}</option>
    {% endfor %}
</select> -->

{% endblock %}

